/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #87CEEB;
}

.container {
    width: 850px;
    background: lightgray;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 60px 40px;
    border-radius: 10px;

}    

.alien-ship img {
    max-width: 300px;
}

.alien-ship h1 {
    font-size: 1.5rem;
    text-align: left;
}

.word-display {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.word-display .letter {
    width: 30px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    border-bottom: 3px solid #000;
}

.word-display .letter.guessed {
    border-color: transparent;
    margin: -40px 0 20px;
}

.instructions {
    text-align: center;
    margin-bottom: 25px;
}

.game.box .keyboard{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
   
}

.keyboard button {
    width: calc(100% / 10 - 5px);
    justify-content: center;
    text-transform: uppercase;
}


.pop-up {
    position: fixed;
    background: rgba(0,0,0,0.6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    /* z-index: 9999;
    padding: 0 10px;
    transition: opacity 0.4s ease; */ 
}

.pop-up .content {
    padding: 30px;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
} 

.pop-up h4 {
    font-size: 1.5rem;
}

.pop-up p {
    font-size: 1.0rem;
    margin: 15px 0 30px;
}

.pop-up button {
    padding: 10px 20px;
}

.pop-up img {
    max-width: 150px;
    margin-bottom: 20px;
}

.pop-up.show {
    opacity: 0;
    pointer-events: auto;
}